---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { MembersPage } from "../../react-pages/members/index";
---

<BaseLayout>
  <title>Wix Members - Wix Kitchensink</title>
  <meta
    name="description"
    content="Explore the features of Wix Members for authentication, profile management, and member data handling."
  />

  <MembersPage client:load slot="body" />
</BaseLayout>
