---
import {
  loadBlogCategoriesServiceConfig,
  loadBlogFeedServiceConfig,
} from '@wix/headless-blog/services';
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogFeedPage from '../../react-pages/blog/index';

const [blogFeedServiceConfig, blogCategoriesServiceConfig] = await Promise.all([
  loadBlogFeedServiceConfig({
    pageSize: 3,
    sort: [
      {
        fieldName: 'firstPublishedDate',
        order: 'DESC',
      },
    ],
  }),
  loadBlogCategoriesServiceConfig(),
]);
---

<BaseLayout>
  <title>Blog | Wix Headless Components</title>
  <meta
    name="description"
    content="Explore our blog featuring the latest insights on headless components, web development, and modern architecture."
  />

  <BlogFeedPage
    client:load
    pathname={Astro.url.pathname}
    blogFeedServiceConfig={blogFeedServiceConfig}
    blogCategoriesServiceConfig={blogCategoriesServiceConfig}
    slot="body"
  />
</BaseLayout>
