---
export const prerender = false;
import BaseLayout from '../../layouts/BaseLayout.astro';
import ReactRouterApp, {
  routes,
} from '../../react-pages/react-router/[...path]';
import '../../styles/theme-wix-vibe-config.css';
import '@wix/wix-vibe-plugins/plugins-vars.css';
import { createStaticHandler } from 'react-router';

const basename = '/react-router';
const handler = createStaticHandler(routes, { basename });
const context = await handler.query(Astro.request);
// Let redirects/errors bubble straight out
if (context instanceof Response) {
  return context;
}
---

<BaseLayout>
  <title>React Router Store</title>
  <meta
    name="description"
    content="A single-page store application with client-side routing"
  />
  <div class="mx-auto max-w-7xl react-router" id="root">
    <ReactRouterApp
      client:load
      context={context}
      basename={basename}
      slot="body"
    />
  </div>
</BaseLayout>
