---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import StoreCollectionPage from "../../../react-pages/store/example-1/index";
import { loadCollectionServiceConfig } from "../../../headless/store/services/collection-service";
import { loadCurrentCartServiceConfig } from "../../../headless/store/services/current-cart-service";
import { loadCategoriesConfig } from "../../../headless/store/services/category-service";

// Load initial data for services
const filteredCollectionServiceConfig = await loadCollectionServiceConfig();
const currentCartServiceConfig = await loadCurrentCartServiceConfig();
const categoriesConfig = await loadCategoriesConfig();
---

<BaseLayout>
  <title>Store Example 1 - Traditional Collection Layout</title>
  <meta
    name="description"
    content="Browse our amazing collection of products with traditional grid layout"
  />

  <StoreCollectionPage
    client:load
    filteredCollectionServiceConfig={filteredCollectionServiceConfig}
    currentCartServiceConfig={currentCartServiceConfig}
    categoriesConfig={categoriesConfig}
    slot="body"
  />
</BaseLayout>
