---
import { ClientRouter } from 'astro:transitions';
import '../styles/global-loader.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <slot name="seo-tags" />
    <ClientRouter />
    <slot />
  </head>
  <body>
    <slot name="body" />
  </body>
</html>
