---
import { ClientRouter } from 'astro:transitions';
import '../styles/global-loader.css';

interface Props {
  useClientRouter?: boolean;
  bodyProps?: Record<string, any>;
}

const { useClientRouter = true } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <slot name="seo-tags" />
    {useClientRouter && <ClientRouter />}
    <slot />
  </head>
  <body>
    <slot name="body" />
  </body>
</html>
