---
import BaseLayout from './BaseLayout.astro';
import { TableOfContents } from '../components/TableOfContents';
---

<BaseLayout>
  <title>Documentation</title>
  <meta name="description" content="Component documentation" />
  <link rel="stylesheet" href="/styles/docs.css" />

  <div class="docs-content" slot="body">
    <slot />
  </div>

  <!-- Floating Table of Contents -->
  <TableOfContents client:load />
</BaseLayout>
