---
import FeedPage from '@/components/blog/FeedPage';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { KitchensinkLayout } from '@/layouts/KitchensinkLayout';
import {
  loadBlogCategoriesServiceConfig,
  loadBlogFeedServiceConfig,
} from '@wix/headless-blog/services';

import './theme.css';

const [blogFeedServiceConfig, blogCategoriesServiceConfig] = await Promise.all([
  loadBlogFeedServiceConfig({
    pageSize: 10,
    sort: [
      {
        fieldName: 'firstPublishedDate',
        order: 'DESC',
      },
    ],
  }),
  loadBlogCategoriesServiceConfig(),
]);
---

<BaseLayout>
  <title>Blog | Wix Headless Components</title>
  <meta
    name="description"
    content="Explore our blog featuring the latest insights on headless components, web development, and modern architecture."
  />

  <KitchensinkLayout>
    <FeedPage
      client:load
      pathname={Astro.url.pathname}
      blogFeedServiceConfig={blogFeedServiceConfig}
      blogCategoriesServiceConfig={blogCategoriesServiceConfig}
      feedPageHref="/blog/example-1"
      postPageBaseUrl="/blog/example-1/"
      categoryPageBaseUrl="/blog/example-1/category/"
      dateLocale="en-US"
    />
  </KitchensinkLayout>
</BaseLayout>
